*.swp
*.swo
*.gcno
*.gcda
*.kdev4
/.kdev4
__pycache__

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.vcxproj
*.filters
*.sln
/CMakeFiles
/CMakeCache.txt
/cmake_install.cmake
/.vs/pycdc
/tests/tests
/tests/pycdc.exe
